@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap');
html{
    box-sizing: border-box;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: inherit;
}